@model int
@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-warning">403</h1>
        <h2 class="mb-4">Доступ запрещен</h2>
        <p class="lead">У вас нет прав для доступа к этому ресурсу.</p>
        <a href="/" class="btn btn-primary btn-lg mt-4">Вернуться на главную</a>
    </div>
</div>
