@model int
@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger">404</h1>
        <h2 class="mb-4">Страница не найдена</h2>
        <p class="lead">Извините, но страница, которую вы ищете, не существует.</p>
        <a href="/" class="btn btn-primary btn-lg mt-4">Вернуться на главную</a>
    </div>
</div>
