@model int
@{
    ViewData["Title"] = "Внутренняя ошибка сервера";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger">500</h1>
        <h2 class="mb-4">Внутренняя ошибка сервера</h2>
        <p class="lead">Произошла внутренняя ошибка на сервере. Пожалуйста, попробуйте позже.</p>
        <a href="/" class="btn btn-secondary btn-lg mt-4">Вернуться на главную</a>
    </div>
</div>
